<nav class="navbar navbar-expand-lg main-navbar" style="background-color: #fa004b69;">
    <a href="{{foto}}" target="_blank">
        <img src="{{foto}}" alt="Logo Recomece" style="width: 75px; height: 75px;" class="img-fluid rounded-circle ">
    </a>
    <h4 class="ml-4">
        {{nome}}
    </h4>
    <form class="form-inline text-aling: right">

    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
        </ul>
        <form class="form-inline ">
            <button class="btn btn-secondary mx-3 bt2-color bt-cadastrar bt-zoom" type="button" (click)='sair()'>Sair</button>
        </form>
    </div>

</nav>
<!--Fim NavBar-->