<p>carreira works!</p>
<nav class="navbar navbar-expand-lg main-navbar  ">
    <a href="#scroll">
        <img src="https://i.imgur.com/nc384TD.png" alt="Logo Recomece" width="95px" height="95px" class="img-fluid "></a>
    <form class="form-inline text-aling: right">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
            </ul>
        </div>
    </form>

    <form class="form-inline">
        <div class="form-group  mx-2">
            <a href="/blogPessoal/src/app/entrar/entrar.component.html">HOME</a>
        </div>
        <div class="form-group text-dark mx-2">
            <a href="/blogPessoal/src/app/entrar/entrar.component.html">CARREIRAS</a>
        </div>

    </form>
</nav>


<h1 class="text-center mt-5 titulo">Nada pode parar mulheres que estão sempre RECOMEÇANDO</h1>
<h2 class="text-center mt-5 titulo">BootCamp Misto ou Sazional para Mulheres</h2>

<div class="container">
    <div class="row row aling-items-center mt-5 mb-5 bc-1">
        <div class="col-md-6">
            <h1 class="text-center mt-5 titulo">Generation Brasil</h1>
            <p class="textOne text-center mt-5 mb-5">A Generation Brasil treina você nas habilidades mais relevantes para os empregadores, conectando você com o seu futuro.</p>
            <a class="text-center textOne" href="https://brazil.generation.org/" target="_blank"> Saiba Mais...</a>
        </div>
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kdGWKGM7yoA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container">
        <div class="row row aling-items-center mt-5 mb-5 bc-1">
            <div class="col-md-6">
                <h1 class="text-center mt-5 titulo">Reprograma</h1>
                <p class="textOne text-center mt-5 mb-5">A reprograma é uma iniciativa de impacto social que foca em ensinar programação para mulheres cis e trans que não têm recursos e/ou oportunidades para aprender a programar.</p>
                <a class="text-center textOne" href="https://reprograma.com.br/" target="_blank"> Saiba Mais...</a>
            </div>
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VA4XAwznE9U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="container">
                <h1 class="display-4 text-center titulo ">RECOMECE</h1>
                <p class="lead text-center textOne mb-5">Começar do zero é um bônus que a vida te deu pra fazer certo dessa vez. É hora de recomeçar tudo outra vez, sem ilusão e sem pressa, mas com a teimosia do inseto que busca um caminho no terremoto. Não é o fim, é apenas a vida te dando
                    a melhor chance para recomeçar.</p>
            </div>
        </div>
        <div class="col-md-12">
            <h1 class="text-center titulo">Comunidades</h1>
            <div class="col-md-6">
                <p class="text-center textOne mb-5">Tecnologia para Mulheres</p>
                <ul>
                    <a href="https://www.programaria.org/" target="_blank">PrograMaria</a>
                    <hr>
                    <a href="https://www.instagram.com/thefemtech/"> TheFemTech</a>
                    <hr>
                    <a href="https://minasprogramam.com/">MinasProgramam</a>
                    <hr>
                    <a href="https://www.meetup.com/pt-BR/mulheres-na-rota-da-tecnologia/">EmponderaTech</a>
                    <hr>
                    <a href="https://www.marialab.org/">MariaLab</a>
                    <hr>
                    <a href="https://www.facebook.com/blackgirlsproject/">MeninasNegras</a>
                    <hr>
                    <a href="https://www.instagram.com/inspiradanacomputacao/">Inspiradas Na Computação</a>
                </ul>
            </div>

            <!--rodape-inicio-->
            <footer class="footer-copyright d-flex justify-content-center rodape">
                <span> © 2021 Copyright: Recomece Group. Todos os direitos reservados. </span>
            </footer>
            <!--rodape-fim-->