<div class="background">
    <nav class="navbar navbar-expand-lg main-navbar  ">
        <a href="#scroll">
            <a [routerLink]=" ['/menu'] ">
                <img src="https://i.imgur.com/nc384TD.png" alt="Logo Recomece" width="95px" height="95px" class="img-fluid "></a>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
            </ul>
        </div>
    </nav>
    <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid text-center flex-container image-4 mb-1">
        <div class="">
            <h1 class="display-4">Homens, saibam como contribuir com a rede!</h1>
            <br>
            <h2 class="display-5">Não se sintam excluídos, se informem e colaborem com essa conexão.
            </h2>
        </div>
    </div>
    <!--Jumbotron-->
    <!--Imagem-->
    <img class="container card-zoom1 mb-5" src="https://i.imgur.com/L7oqfNl.jpeg" alt="Quadrinho Mafalda">
    <!--/Imagem-->
    <!--texto + grafico-->
    <div class="row mb-5 ml-auto mr-auto container-fluid">
        <div class="col-md-12">
            <img class="img img-fluid" src="https://i.imgur.com/bpGdpmh.png" alt="VocêSabia">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto mb-3 mt-3">
                    <img class="img-7 card-zoom1 img-fluid" src="https://i.imgur.com/geq7cYz.jpeg" alt="Gráfico">
                </div>
                <div class="col-md-6 ml-auto mr-auto mb-3 mt-3">
                    <p class="text-justify text">
                        O rendimento médio mensal real de todos os trabalhos dos homens (R$ 2.555) é cerca de 28,7% mais alto que o das mulheres (R$ 1.985) na média brasileira. No Norte e no Nordeste, as diferenças de rendimento entre os sexos são bem menores: R$ 1.736 contra
                        R$ 1.608 no primeiro e 1.683 contra R$ 1.456 no segundo. No Sul, a diferença é a maior: R$ 2.894 dos homens contra R$ 2.107 das mulheres.
                    </p>
                    <p class="text-justify text">Total de profissionais com ensino superior completo no Brasil: 15,45 milhões, sendo 8,52 milhões de mulheres e 6,93 milhões de homens, ou seja, as mulheres são mais admitidas no Brasil por ganharem menos, uma pensamento totalmente
                        machista em que todas estão lutando pelo direito de igualdade que não é cumprido.</p>
                </div>
            </div>
            <!--/texto + grafico-->
            <!--Cards-->
            <div class="card-deck card-text mt-5">
                <div class="card card-zoom">
                    <div class="card-body text-dark">
                        <p class="card-text text-center">Existe lei para igualdade salarial entre homens e mulheres. Por que não é cumprida?</p>
                    </div>
                </div>
                <div class="card card-zoom">
                    <div class="card-body text-dark">
                        <p class="card-text text-center">A participação de mulheres no mercado de trabalho caiu 50% durante a pandemia.</p>
                    </div>
                </div>
                <div class="card card-zoom">
                    <div class="card-body text-dark">
                        <p class="card-text text-center">Em apenas 25% das profissões, mulheres e homens ganham a mesma faixa salarial.</p>
                    </div>
                </div>
                <div class="card card-zoom">
                    <div class="card-body text-dark">
                        <p class="card-text text-center">A violência contra a mulher, um grande desafio a ser vencido por toda a sociedade.</p>
                    </div>
                </div>
                <div class="card card-zoom">
                    <div class="card-body text-dark">
                        <p class="card-text text-center">Mulheres são as maiores responsáveis pela educação dos filhos e pela tarefa do lar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Cards-->
    <!--Cards-->
    <div class="jumbotron jumbotron-fluid image-4">
        <div class="container">
            <h1 class="display-5">Cada escolha, uma oportunidade. Cada queda, um aprendizado. Cada atitude, uma consequência!
            </h1>
        </div>
    </div>
    <!--/Cards-->
    <!--Texto e Vídeo-->
    <div class="row mt-5 mb-5 ml-auto mr-auto container-fluid">
        <div class="col-md-6 boxVideo embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="600" height="380" src="https://www.youtube.com/embed/B6uuIHpFkuo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h2 class="justify-content-center text-center tituloV">Crítica sobre o vídeo</h2>
            <br>
            <p class="text-justify text">
                Esse curta-metragem da Pixar conta a história de Purl, um novelo de lã cor-de-rosa, representatividade de figura feminina que acabou de ser admitida. Mostra-se um pouco como as mulheres se sentem no ambiente de trabalho, muitas vezes criticadas e menosprezadas
                por serem elas mesmas, as vezes até assediadas, mas mesmo assim Purl não se encaixa nos padrões dos homens engravatados das cenas, isso abre discussão sobre a falta de diversidade no território corporativo. São fatos críticos onde a sociedade
                mostra a necessidade do ser humano com uma mulher, mas não são compreensíveis quando essas situações aparecem.
            </p>
        </div>
    </div>
    <!--/Texto e Vídeo-->
    <!--Formulário de contato-->
    <div class="row mb-5 ml-auto mr-auto mt-5">
        <div class="col">
            <h4 class="text-center text-1 mt-5">
                Você tem alguma indicação?
            </h4>
        </div>
    </div>
    <div class="row container-fluid justify-content-center ml-3">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="nome">Nome:</label><br>
                    <input type="text" class="form-control" id="nome" placeholder="Escreva seu nome" onkeyup="validaNome()">
                    <div id='txtNome'></div>
                </div>
                <div class="form-group">
                    <label for="email">Endereço de email:</label>
                    <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com" onkeyup='validaEmail()'>
                    <div id='txtEmail'></div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Indicação de:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Selecione uma opção...</option>
                        <option>Curso</option>
                        <option>Emprego</option>
                        <option>Mentores</option>
                        <option>Outros assuntos</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="assunto">Assunto</label>
                    <textarea name="assunto" class="form-control" id="assunto" rows="3" onkeyup='validaAssunto()' placeholder="Insira o assunto e se possível tel para contato..."></textarea>
                    <div id='txtAssunto'></div>
                </div>
                <br>
                <br>
                <div class="form-group wrap">
                    <button type="button" onclick="enviar()" class="button">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <img class="img-fluid img-5" src="https://i.imgur.com/Mm7AZSF.png" alt="">
        </div>
    </div>
    <br>
    <!--/Formulário de contato-->
</div>
<!--button info - inicio-->
<div id="container-floating">
    <div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com">
        <img class="reminder">
        <a [routerLink]=" ['/ongs'] ">
            <img class="reminder" src="https://i.imgur.com/Lz9AGUj.png" alt="mulher">
        </a>
    </div>
    <div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder">
        <a [routerLink]=" ['/men'] ">
            <img class="reminder" src="https://i.imgur.com/BE4nCHX.png" />
        </a>
    </div>
    <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it"><img class="reminder">
        <a [routerLink]=" ['/menu'] ">
            <img class="reminder" src="https://i.imgur.com/cCngrNV.png" />
        </a>
    </div>
    <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
        <p class="plus">+</p>
        <img class="edit img-fluid" src="http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
    </div>
</div>
<!--button info - fim-->
<app-rodape></app-rodape>